.Device {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding-top: 32px;
}

.DeviceVariableSection {
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 32px;
}

.Device .Card-Variable {
    width: 200px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 16px;
    background-color: #414141;

    text-decoration: none;
    color: rgb(236, 236, 236);
}

.table {
    width: 100%;
}

td {
    text-align: center;
}

.Device .Graficos {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    width: 100%;

    margin: 32px;
}

.Device .Graficos div {
    min-width: 400px;
    max-width: 600px;
    width: 100%;
    height: auto;
}

.buttonCounter {
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 300px;
}